.carousel {
  background: linear-gradient(90deg, white 40%, #469187 40%);
padding: 6rem 0;
margin: 8rem 0;
box-shadow: ;
}
.carousel-item .row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.carousel-item.active {
  border-bottom: 0 !important;
}
.carousel-item .col-2 {
  flex: 0 0 16.6667%;
  max-width: 16.6667%;
}

.carousel-item .col-4 {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}
.card-body{
  border: 0;
  padding: 40px;
  padding-left: 50px;
}
.card-main {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.card-main p:first-child {
  color: black;
  margin: 0;
  font-weight: bold;
  line-height: 12px;
}
.card-main small {
  color: #8B8B8B;
  margin: 0;
  font-size: .9rem;
}
.card-content p{

color: #8B8B8B;

font-size: 1rem;
line-height: 1.4rem;
margin-bottom: 0;
padding-top: 1.5rem;
}
.card-img-top{
  width: 5.8rem !important;
  height: auto !important;
}
.box-shadow{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 15px !important;
}