.carousel {
  background: linear-gradient(90deg, white 40%, #469187 40%);
padding: 6rem 0;
margin: 8rem 0;
}
.carousel-item .row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.carousel-item.active {
  border-bottom: 0 !important;
}
.carousel-item .col-2 {
  flex: 0 0 16.6667%;
  max-width: 16.6667%;
}

.carousel-item .col-4 {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}
.card-body{
  border: 0;
}
.card-main {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.card-main p:first-child {
  color: black;
  margin: 0;
  font-weight: bold;
  line-height: 12px;
}
.card-main small {
  color: black;
  margin: 0;
  font-size: .9rem;
}
.card-content p{
color: black;
font-size: 1rem;
line-height: 1.4rem;
margin-bottom: 0;
padding-top: 2rem;
}
.card-img-top{
  width: 45px !important;
  height: auto !important;
}