.custom-btn {
  background: #ef960b;
  /* padding: 10px; */
  border: 1px solid black;
  border-radius: 20px;
}
li {
  display: flex;
}
ul li {
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
}
